#loginChanger {

padding-right: 15px; 

}

#loginAlert {

  display: none;

}

#tweetSuccess {
    
    display:none;
    
}

#tweetFail {
    
    display:none;
    
}

.mainContainer {

  padding: 20px;

}

.time {

  color: lightgrey;

}

#profile-container {
  width: 500px;
  height: 78px;
  margin-bottom: 25px;
  margin-left: 10px;

}

#profile-summary-box {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 56px;
  width: 298px;
  padding: 12px;
}

#prof-mini-ava {
  width: 32px;
  height:32px;
  float: left;
  border-radius: 5px;
  margin-right: 15px;
}

#time-mini-ava {
  width: 32px;
  height:32px;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

#profile-GP {
  font-weight: bold;
  margin-top: 5px;
}

#stats-list {
  list-style-type: none;
  padding: 0px;
  font-size: 10px;
}

#stats-list li {
  display: inline-block;
  width: 64px;
  height: 47px;
  padding: 7px;
  margin-top: 5px;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

#stats-list li:hover {
  text-decoration: none;
  cursor: pointer;
  color: #20858C;
}

#stats-list small {
  color: #8C8C8C;
}

#profile-stats {
  display: block;
  height: 48px;
  width: 200px;
}

#messageButton {
  margin-right: 20px;
  margin-bottom: 5px;
}

.widget {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;   
}

.bg-white {
    background-color: #FFF;
}

ul.no-type {
    margin-left: -40px;
    list-style-type: none;
}

.profile-block {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin-bottom: 15px;
}

.image-header {
    border-bottom: 5px solid #FFF;
    min-height: 96px;
    background-position: center;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

.user-info {
    background: #FFF;
    padding: 5px 15px;
}

.user-info img {
    border: 3px solid #FFF;
    border-radius: 5px;
    height: 76px;
    width: 76px;
    position: absolute;
    margin-top: -40px;  
}

.info { 
    margin-top: -5px;
    padding-left: 85px;
}
    
.name {
    font-size: 18px;
    font-weight: 600;
}

.body {
    padding: 15px 15px 0px 15px;
}

span.title {
    color : #999;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
}

 span.amount {
    color :cadetblue;
    font-size: 18px;
    display: block;
}

.list-inline {
    padding-left: 23px;
    margin-left: -20px;
    list-style: none;
    margin-top: -9px;
}

ul.list-inline li {
    margin-right: 5px;
    
}

ul.list-inline a:hover {
    text-decoration: none;
}

#map {
    width:260px; 
    height:210px;
}
    
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

p {
      margin: 22px 5px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



